@page "/dashboard"
@using DevDoListBlazorApp.Models
@using DevDoListBlazorApp.Services
@using DevDoListBlazorApp.Components.Shared
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject NoteService noteService
@inject TaskTypeService taskTypeService
@inject AuthService AuthService
@inject ProtectedLocalStorage ProtectedLocalStore;


<div class="dash-container">
    <div class="add-new-note-container">
        <div class="categories-container">
            <div class="@GetButtonClass(allCategory)" @onclick="()=>HandleFilter(allCategory)">
                All
            </div>
            @foreach (var category in categories) {
                <div class="@GetButtonClass(allCategory)" @onclick="()=>HandleFilter(category)">
                    @category.taskTypeDescription
                </div>
            }
        </div>
        <img class="add-new-note" src="/assets/AddNewNote.svg" alt="AddNewNote" @onclick="HandleNew"/>
    </div>
    <div class="card-container-dash">
        <DataCards userNote="filteredNotes" CurCategory="All" />
    </div>
</div>


@code {
    List<Note> usersNotes = new List<Note>();
    List<Note> filteredNotes = new List<Note>();
    List<TaskType> categories = new List<TaskType>();
    TaskType allCategory = new TaskType
    {
        taskTypeId = 0,
        taskTypeDescription = "All"
    };
    TaskType currentCategory = new TaskType
    {
        taskTypeId=0,
        taskTypeDescription="All"
    };
    string sortOrder = "asc";
    string errorNotes = "";
    string errorCategories = "";
    bool showAscDesc = false;
    bool checkedLoggedIn = false;
    private int UserId = -1;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !checkedLoggedIn)
        {
            if (!await AuthService.IsLoggedIn())
            {
                NavigationManager.NavigateTo("/");
            }
            checkedLoggedIn = true;
            await FetchNotesData();
            await FetchCategoriesData();
            StateHasChanged();
        }

    }

    void HandleNew()
    {
        NavigationManager.NavigateTo("/NewNote");
    }

    /* DATE FETCHING METHODS*/

    async Task FetchNotesData()
    {
        if (await AuthService.IsLoggedIn())
        {
            errorNotes = "";
            usersNotes = await noteService.GetAllNotes();
            filteredNotes = usersNotes;
        }
    }

    async Task FetchCategoriesData()
    {
        if (await AuthService.IsLoggedIn())
        {
            errorCategories = "";
            categories = await taskTypeService.GetAllTaskTypes();
        }
    }

    /* FILTERING AND SORTING METHODS */

    void HandleFilter(TaskType category)
    {
        filteredNotes = usersNotes;
        currentCategory = category;
        filteredNotes = category.taskTypeDescription == "All" ? usersNotes : filteredNotes.Where(note => note.taskTypeId == category.taskTypeId).ToList();
        StateHasChanged();
    }


    void HandleSort()
    {
        //TODO: Implement Sort
        sortOrder = sortOrder == "asc" ? "desc" : "asc";
    }

    void ToggleAscDesc()
    {
        showAscDesc = !showAscDesc;
        HandleSort();
    }

    string GetButtonClass(TaskType category)
    {
        return category.taskTypeDescription == currentCategory.taskTypeDescription ? "categories-button clicked" : "categories-button";
    }

}
