@page "/dashboard"
@using DevDoListBlazorApp.Models
@using DevDoListBlazorApp.Services
@using DevDoListBlazorApp.Components.Shared
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject NoteService noteService


<div class="dash-container">
    <div class="add-new-note-container" @onclick="HandleNew">
        <img class="add-new-note" src="/assets/AddNewNote.svg" alt="AddNewNote" />
    </div>
    <div class="card-container-dash">
        <DataCards userNote="usersNotes" CurCategory="All" />
    </div>
</div>


@code {
    List<Note> usersNotes = new List<Note>();
    List<string> categories = new List<string>();
    string currentCategory = "All";
    string sortOrder = "asc"; // Default sort order is ascending
    string errorNotes = "";
    string errorCategories = "";
    bool showAscDesc = false;
    bool checkedLoggedIn = false;
    private int UserId = -1;

    protected override async Task OnAfterRenderAsync(bool firstRender) // Redirects to login page if they do not have a token
    {
        if (firstRender && !checkedLoggedIn)
        {
            // Check if the user is not logged in
            if (!AuthService.IsLoggedIn())
            {
                // User is not logged in, redirect to login page
                NavigationManager.NavigateTo("/");
            }
            checkedLoggedIn = true;
            usersNotes = await noteService.GetAllNotes();
            StateHasChanged();
        }

        // Fetch Categories Data - could hardcode
   
    }

    void HandleNew()
    {
        NavigationManager.NavigateTo("/NewNote");
    }

    void ToggleAscDesc()
    {
        showAscDesc = !showAscDesc;
        HandleSort();
    }

    void FetchNotesData()
    {
        errorNotes = "";
        // Fetch notes data if in view mode
    }

    void FetchCategoriesData()
    {
        errorCategories = "";
        // Fetch categories data
    }

    void HandleSort()
    {
        sortOrder = sortOrder == "asc" ? "desc" : "asc";
        // Sort usersNotes based on sortOrder
        // Example: usersNotes = sortOrder == "asc" ? usersNotes.OrderBy(n => n.LastEdited).ToList() : usersNotes.OrderByDescending(n => n.LastEdited).ToList();
    }
}
