@page "/"
@rendermode InteractiveServer

<div class="login-page">
        <div class="input-container-login">
            <div class="input-container-title-login">
                Login to your GitHub account
            </div>
            <div class="login-button-container">
                <button class="login-button" @onclick="HandleLogin">Login</button>
            </div>
        </div>
</div>

@code {
    private void HandleLogin()
    {
        // TODO: Implement login functionality with Oaurth

    }
}
