.new-page {
    height: 92vh;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    width: 70vw;
    height: 75vh;
    border-radius: 5px;
    border: 0.5px solid rgba(158, 158, 158, 0.50);
    background-color: #FFF;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.side-panel {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6A61C0;
    padding-top: 4vh;
}

.input-container-note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    background-color: #FFF;
    gap: 2vh;
    padding: 4vh;
}

.title-container {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
}

.status-container {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100%;
    gap: 1vh;
}

.task-type-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 18%;
    gap: 1vh;
}

.input-container {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100%;
    gap: 1vh;
}

.input-container-short {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 45%;
    gap: 1vh;
}

.date-container {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    gap: 2vh;
    justify-content: space-between
}

.input-title {
    font-size: 2.5rem;
    font-weight: 600;
    background-color: #FFF;
    padding: 1vh;
    border: none;
}

.input {
    font-size: 11px;
    height: 5vh;
    width: 100%;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0.5px solid rgba(158, 158, 158, 0.50);
    background-color: #FFF;
    display: flex;
    justify-content: center;
    padding: 1vh;
}

.input-status {
    height: 5vh;
    width: 100%;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    background-color: #8CF192;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    border-radius: 20px;
    cursor: pointer;
}

select {
    font-size: 12px;
    font-weight: 500;
}

option {
    background-color: #f2f2f2;
}

label {
    font-size: 15px;
}

textarea {
    height: 40vh;
    width: 100%;
    font-size: 11px;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0.5px solid rgba(158, 158, 158, 0.50);
    background-color: #FFF;
    padding: 1vh;
}

.input-text-area {
    height: 40vh;
    width: 100%
}

.buttons-container {
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 4vh;
}

.button {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.delete-button {
    background-color: #6A61C0;
    color: #FFF;
    height: 5vh;
    width: 7vw;
    border: none;
    font-weight: 500;
}

    .delete-button:hover {
        transform: scale(1.1);
    }

.error-message {
    color: red;
    font-size: 16px;
    margin-top: 8px;
}
