@page "/profile"
@using DevDoListBlazorApp.Models
@using DevDoListBlazorApp.Services
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject UserService UserService
<div class="profile-page">
    @if (_user is not null)
    {
        <div class="profile-container">
            <div class="avatar-img-container">
                <img class="avatar-img" src="@_user.userPicUrl" alt="Profile Image" />
            </div>
            <div class="username">
                <h1> @_user.username</h1>
            </div>
        </div>
    }
</div>

@code
{
    private User? _user;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var accessToken = AuthService.accessToken;
            if (accessToken is null)
            {
                NavigationManager.NavigateTo("/");
            }
            else
            {
                _user = await UserService.GetUserByUsername();
                StateHasChanged();
            }
        }
    }
}
