@using DevDoListBlazorApp.Models;
@using DevDoListBlazorApp.Services
@inject NavigationManager NavigationManager
@inject NoteService noteService
@* 
   CardContents Razor Component:
   - This component represents the content of a single card in a list.
   - It displays the title and last edited date of a user's note.
   - When clicked, it navigates the user to the detailed view of the note.
*@

<div class="data-card" @onclick="ViewTask">
    <div class="delete-icon" @onclick="DeleteTask">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 16 16">
            <path d="M 6.496094 1 C 5.675781 1 5 1.675781 5 2.496094 L 5 3 L 2 3 L 2 4 L 3 4 L 3 12.5 C 3 13.328125 3.671875 14 4.5 14 L 10.5 14 C 11.328125 14 12 13.328125 12 12.5 L 12 4 L 13 4 L 13 3 L 10 3 L 10 2.496094 C 10 1.675781 9.324219 1 8.503906 1 Z M 6.496094 2 L 8.503906 2 C 8.785156 2 9 2.214844 9 2.496094 L 9 3 L 6 3 L 6 2.496094 C 6 2.214844 6.214844 2 6.496094 2 Z M 5 5 L 6 5 L 6 12 L 5 12 Z M 7 5 L 8 5 L 8 12 L 7 12 Z M 9 5 L 10 5 L 10 12 L 9 12 Z"></path>
        </svg>
    </div>
    <div class="data-card-container">
        <p class="data-card-title">@currNote?.title</p>
        <p class="data-card-dueDate">@currNote?.dueDate</p>
    </div>
</div>

@code {
    [Parameter] public Note? currNote { get; set; }

    private async void DeleteTask()
    {
        if (currNote is null) return;
        bool ans = await noteService.DeleteNote(currNote.taskId);
        NavigationManager.NavigateTo("/dashboard", true);
    }

    private async void ViewTask()
    {
        NavigationManager.NavigateTo("/viewNote/" + currNote?.taskId);
    }
}