@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using DevDoListBlazorApp.Components.Shared;
@using DevDoListBlazorApp.Models;
@using DevDoListBlazorApp.Services;
@inject ProtectedSessionStorage ProtectedSessionStorage
@* 
   DataCards Razor Component:
   - This component represents a collection of cards displaying user notes.
   - It receives a collection of data and a current category as parameters.
   - It filters the data based on the current category.
   - It iterates over the filtered data and renders a `CardContents` component for each item.
   - It provides a container to hold and display the cards.
*@

@* @inject LocalStorageService LocalStorageService *@
@inject NavigationManager NavigationManager

<div class="card-container">
    @foreach (var note in userNote)
    {
        <div key="@note.noteId">
            <CardContents currNote="note" />
        </div>
    }
</div>

@code {
    [Parameter]
    public List<Note> userNote { get; set; }

    [Parameter]
    public string CurCategory { get; set; } = "All";

    private int UserId = -1;

    @* TODO: Implement filtering of dataCards *@
    @* private IEnumerable<dynamic> FilteredData *@

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await ProtectedSessionStorage.GetAsync<string>("accessToken");
            if (token.Success == false) NavigationManager.NavigateTo("/");
        }
    }
}



